<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuideMe"
        tools:targetApi="31">
        <activity
            android:name=".BackIcon"
            android:exported="false"
            android:label="@string/title_activity_back_icon"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".ProposedItinerariesPage"
            android:exported="false"
            android:label="@string/title_activity_proposed_itineraries_page"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".AddTripPage"
            android:exported="false"
            android:label="@string/title_activity_add_trip_page"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".Navigation"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".SearchBar"
            android:exported="false"
            android:label="@string/title_activity_search_bar"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".LoginPage"
            android:exported="false"
            android:label="@string/title_activity_login_page"
            android:theme="@style/Theme.GuideMe" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />

        <activity
            android:name=".TopBar"
            android:exported="false"
            android:label="@string/title_activity_top_bar"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".BottomNavigationBar"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation_bar"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".QuestionnairePage"
            android:exported="false"
            android:label="@string/title_activity_questionnaire_page"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".FavoritesPage"
            android:exported="false"
            android:label="@string/title_activity_favorites_page"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".ItinerariesPage"
            android:exported="false"
            android:label="@string/title_activity_itineraries_page"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".MyItineraries"
            android:exported="false"
            android:label="@string/title_activity_my_itineraries"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".HomePage"
            android:exported="false"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".CustomTopAppBar"
            android:exported="false"
            android:label="@string/title_activity_custom_top_app_bar"
            android:theme="@style/Theme.GuideMe" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GuideMe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>